@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));
:root {
  --color-bg: #e2e2e2;
  --color-fg: #1e1e1e;
  --color-muted: #1e1e1eb3;
  --color-primary: #d0ac9a;
  --color-secondary: #a27b5a;
  --lightness: 35%;
}
:root.dark {
  --color-bg: #1e1e1e;
  --color-fg: #fff;
  --color-muted: #efe1d1;
  --color-primary: #a27b5a;
  --color-secondary: #67422f;
  --lightness: 75%;
}
@theme inline {
  --start: 30deg;
  --end: 110deg;
  --lightness: var(--lightness);
  --base-chroma: 0.1;
  --step: calc((var(--end) - var(--start)) / (var(--count) - 1));
  --breakpoint-xs: 400px;
  --color-bg: var(--color-bg);
  --color-fg: var(--color-fg);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-muted: var(--color-muted);
  --font-clash: var(--clash-display), sans-serif;
  --font-inter: var(--inter);
}
body {
  @apply bg-bg text-fg font-clash font-normal;
}
@utility scroll-snap-align {
  scroll-snap-align: center;
}
@utility coffee-gradient {
  @apply text-transparent bg-clip-text bg-linear-to-r from-primary  to-fg;
}

@layer components {
  button {
    cursor: pointer;
  }
  .nav-scroll {
    @apply bg-bg/50 backdrop-blur-xl;
  }
  .show-fullsize {
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 90vw !important;
    height: 90vh !important;
    max-width: 80vw;
    max-height: 80vh;
    z-index: 1000;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
  }
  ul.fluid-colors {
    /* keep step here too if you prefer local scoping */
    --step: calc((var(--end) - var(--start)) / (var(--count) - 1));
  }

  /* apply to ALL items */
  li.fluid-color {
    color: oklch(
      var(--lightness) /* e.g. 65% or 75% from :root */ var(--base-chroma) /* ~0.0–0.4 */
        calc(var(--start) + var(--step) * var(--i)) /* angle works now */
    );
  }
  .flip-list {
    display: grid;
    gap: 0.75rem;
  }
  .listItem {
    border: 1px solid var(--border);
    border-radius: 12px;
    padding: 12px;
    overflow: clip;
  }
  .item-content {
    max-height: 0;
    opacity: 0;
  }
  .listItem.expanded .item-content {
    max-height: 1000px;
    opacity: 1;
    transition: max-height 0.3s ease;
  }
  .error-message {
    @apply text-sm  dark:text-red-400 text-red-800 font-medium w-full tracking-wide pt-1;
  }
  label::after {
    content: "*";
    @apply dark:text-red-400 text-red-800 ml-1;
  }
  .error-message::before {
    content: "⚠";
    @apply mr-1;
  }
}
